test/data/xsd/annotation.xsd

<?xml version='1.0'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
      <xs:appinfo>appinfo note
      second line
      </xs:appinfo>
      <xs:documentation xml:lang="en">
      documentation in english
      second line
      </xs:documentation>
    </xs:annotation>
    <xs:element name="el-type-for-attributegroup" type="type-for-attributegroup" />

    <xs:complexType name="type1">
      <xs:attribute type="xs:string" name="attrtype1"/>
    </xs:complexType>
</xs:schema>
