test/data/xsd/outline/simplegroup.xsd

<?xml version='1.0'?>
<!-- valid -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:group name="theGroup">
    <xs:sequence>
        <xs:element name="a"/>
        <xs:element name="b"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="project" type="PROJECT"/>
  <xs:complexType name="PROJECT">
    <xs:group ref="theGroup"/>
  </xs:complexType>
</xs:schema>
