test/data/xsd/editenum/ident4.1end.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            xmlns:ns2="xxx">
 <xsd:annotation>
  <xsd:documentation>Sample document.</xsd:documentation>
 </xsd:annotation>
 <xsd:element name="sample">
  <xsd:complexType>
   <xsd:all>
    <xsd:element name="sample-inner"
                 type="xsd:string"
                 minOccurs="0"/>
   </xsd:all>
   <xsd:attribute name="attribute"
                  type="xsd:string"/>
  </xsd:complexType>
 </xsd:element>
 <xsd:simpleType name="test1">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="unduetre"
                    ns2:a="abc">
    <xsd:annotation id="idx" xmlns:nsa="xxx" nsa:a="n" ns2:c="cc">
     <xsd:documentation xml:lang="en">
        doc1
     <x:abcd xmlns:x="sss" ff="22">
        <bbb>x</bbb>
     </x:abcd>
    </xsd:documentation>
     <xsd:documentation xml:lang="it">
        doc2
    </xsd:documentation>
     <xsd:appinfo >
      <a:a id="123">
       <b id="444"/>
      </a:a>
     </xsd:appinfo>
    </xsd:annotation>
   </xsd:enumeration>
   <xsd:enumeration value="quattrocinque"
                    ns2:a="abc"/>
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
