test/data/xsd/editenum/updateComplexEnd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
 <xsd:annotation>
  <xsd:documentation>Sample document.</xsd:documentation>
 </xsd:annotation>
 <xsd:element name="sample">
  <xsd:complexType>
   <xsd:all>
    <xsd:element name="sample-inner"
                 type="xsd:string"
                 minOccurs="0"/>
   </xsd:all>
   <xsd:attribute name="attribute"
                  type="xsd:string"/>
  </xsd:complexType>
 </xsd:element>
 <xsd:simpleType name="test1">
  <xsd:restriction base="xsd:string">
   <xsd:minInclusive value="5">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            <a/>
        </xsd:documentation>
    </xsd:annotation>
    </xsd:minInclusive>
    <xsd:enumeration value="456">
        <xsd:annotation>
            <xsd:documentation xml:lang="es">
                <z/>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:enumeration>

     <xsd:enumeration value="x">
      <xsd:annotation>
          <xsd:documentation >
              <y>t</y>
          </xsd:documentation>
      </xsd:annotation>
   </xsd:enumeration>
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
