test/data/xsd/validation/attribute_name_ref_both.internal.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="test" xmlns:test="test" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
    <xs:attribute name="atop1"/>
	
	<xs:element name="topelement">
	  <xs:complexType>
		<xs:sequence>
		  <xs:element name="inner" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="attr2" ref="atop1"/>
	  </xs:complexType>
	</xs:element>
</xs:schema>
